*.o
*.mod
*.e*
*.o*
BUILD/
*.pbs
advection
cabaret
create_ave
create_bins
diffusion
eof_advection
eof_deduct_advection
kinematic_model
make_autocorrelation
markov1_model
pv_diffusion
pv_make
test_diffusivity
velocity_variance
write_deduct_eof_file
write_eof_file
write_restart
